<ion-header>

  <ion-navbar color="primary">
    <ion-title>Log In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item padding>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty" no-lines>
      <p>Please provide a valid email</p>
    </ion-item>

    <ion-item padding>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" no-lines>
      <p>Please provide a valid password</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">Log In</button>
  </form>
  <button ion-button block clear (click)="goToSignup()">Create a new account</button>
  <button ion-button block clear (click)="resetPassword()">Reset Password</button>
</ion-content>